# ---- Python ----
venv/
*/venv/
__pycache__/
*.pyc
*.pyo
*.pyd
instance/

# ---- Environment ----
.env

# ---- Node / React ----
node_modules/
build/
dist/

# ---- System ----
.DS_Store
Thumbs.db

# ---- IDE / Editor ----
.vscode/
.idea/

# ---- Logs ----
*.log
